<%= @hash %>
<%= @country %>
<%= @email %>
<% @playlists.each do |playlist| %>
  <p><%= playlist.name %></p>
<% end %>

<div><%= button_to "Generate preference based playlist!", form_path(), :class => "button medium", :method => :get, :params => {"hash": @hash} %></div>
